cvschema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="student" type="studentType"/>
    <xs:element name="birthday" type="dateType"/>
    <xs:element name="contact" type="contactType"/>
    <xs:element name="experience" type="experienceType"/>
    <xs:element name="startingAt" type="dateType"/>
    <xs:element name="endingAt" type="dateType"/>
    <xs:element name="location" type="locationType"/>
    <xs:element name="formation" type="formationType"/>

    <xs:complexType name='studentType'>
        <xs:sequence>
            <xs:element name='firstname' type='xs:string'/>
            <xs:element name='lastname' type='xs:string'/>
            <xs:element name='class' type='xs:string'/>
            <xs:element ref='contact'/>
            <xs:element ref='birthday'/>
        </xs:sequence>
        <xs:attribute name='role' type='xs:integer'/>
    </xs:complexType>

    <xs:complexType name='dateType'>
        <xs:attribute name='day' type='xs:integer'/>
        <xs:attribute name='month' type='xs:integer'/>
        <xs:attribute name='year' type='xs:integer'/>
    </xs:complexType>

    <xs:complexType name='contactType'>
        <xs:attribute name='adress' type='xs:string'/>
        <xs:attribute name='number' type='xs:string'/>
        <xs:attribute name='email' type='xs:string'/>
    </xs:complexType>

    <xs:complexType name='experienceType'>
        <xs:sequence>
            <xs:element ref='startingAt'/>
            <xs:element ref='endingAt'/>
            <xs:element name='description' type='xs:string'/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name='locationType'>
        <xs:sequence>
            <xs:element name='city' type='xs:string'/>
            <xs:element name='country' type='xs:string'/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name='formationType'>
        <xs:sequence>
            <xs:element ref='location'/>
            <xs:element ref='startingAt'/>
            <xs:element ref='endingAt'/>
            <xs:element name='description' type='xs:string'/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>